* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkslateblue;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 항상 수직 수평 중앙에!  */
  color: white;
  text-align: center;
}
.material-icons {
  font-size: 10rem;
}
.lg-text {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.sm-text {
  font-size: 1.5rem;
}

#dynamic {
  /*p태그 뒤에 커서가 오게해야지 */
  position: relative;
  display: inline-block;
}
#dynamic::after {
  /*dynamic이라는 아이디를 가진 요소에  after라는 가상요소를 만듬*/
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 4px;
  height: 100%;
  background-color: white;
}
#dynamic.active::after {
  display: none;
}
